[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mypy = "*"
pylint = "*"
ipykernel = "*"
pytest-cov = "*"

[packages]
pyyaml = "*"
click = "*"
pandas = "*"

[requires]
python_version = "3.8"
